 html, body{
    height: 100%;
    margin: 0;
    padding: 0;
  }
  

.jumbotron {
    text-align: left;
    background-image: url("../img/dallas_skyline.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
}

#titleText {
    font-size:85px;
    color: black;
    text-decoration: underline overline #428bca;
}

#map {
    height: 100%;
    width: 50%;
    float: left;
    padding: 40px;   
  }
 
#floating-panel {   
    top: 10px;
    left: 25%;
    z-index: 5;
    padding: 5px;   
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#twitter-timeline {
    /* display: inline-block; */
    font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    width: 28%;
    float: right;
 }
 .table-container {  
    float: left;
}

#table-head {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    
}

